@import 'scss/Home';
@import 'scss/Navigation';

@import 'scss/variables';

@import "../node_modules/bootstrap/scss/bootstrap";
@import "fonts/flaticon.css";

h1, h2 {
  font-weight: 700;
  line-height: 1;
}

h3 {
  font-size: 1.2rem;
}

.subheading {
  color: $primary;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 600;
  font-size: 12px;
}