#MediplusInNumbers {
	background: linear-gradient(0deg,rgba($primary, 0.7),rgba($primary, 0.7)), url(images/bg_3.jpg);
	background-position: 50% 40%;

	.subheading {
			color: #fff;
	}

	strong {
			display: block;
			font-size: 2em;
	}
}